 
 

## Config for 256MB Image

256image:= \
	--nand_num_chn=4 \
	--nand_pkgs_per_chn=2 \
	--nand_dies_per_pkg=2  \
	--nand_planes_per_die=2 \
	--nand_blocks_per_plane=16 \
	--nand_pages_per_block=128 \
	--nand_page_size=12 \
	--nand_storage_image=disk_images/256.s4sim
	
256image_16k:= \
	--nand_num_chn=4 \
	--nand_pkgs_per_chn=2 \
	--nand_dies_per_pkg=2  \
	--nand_planes_per_die=2 \
	--nand_blocks_per_plane=4 \
	--nand_pages_per_block=32 \
	--nand_page_size=14 \
	--nand_storage_image=disk_images/ssd_image.256 	

254.8ch:= \
	--nand_num_chn=8 \
	--nand_pkgs_per_chn=2 \ 
	--nand_dies_per_pkg=2  \
	--nand_planes_per_die=2 \
	--nand_blocks_per_plane=4 \
	--nand_pages_per_block=64 \
	--nand_page_size=12 \
	--nand_storage_image=storage_images/ssd_image.256 


## Config for 1GB Image

1gig.8ch:= \
	--nand_num_chn=8 \
	--nand_pkgs_per_chn=2 \ 
	--nand_dies_per_pkg=2  \
	--nand_planes_per_die=2 \
	--nand_blocks_per_plane=8 \
	--nand_pages_per_block=64 \
	--nand_page_size=12 \
	--nand_storage_image=disk_images/ssd_image.1gig \
	
 




