 


pg_map:= \
	--host_page_size=12 \
	--write_back_cache_mgt=1wbc-r \
	--mapping_scheme=page_mapping \
	--num_namespaces=1 \
	--over_provision_factor=7 
	

bk_map:= \
	--host_page_size=12 \
	--write_back_cache_mgt=1wbc_4rc \
	--mapping_scheme=block_mapping \
	--num_namespaces=1 \
	--over_provision_factor=7 \
	--victim_selection_window=4 




# sample configuration conbinations 

H4k_N4k_256mb 	:= $(mlc) $(256image) $(pg_map) --hardware=armv7-a_gem5_generic 
2mb8			:= $(mlc) $(254.8ch)  $(pg_map)  
2mbbk			:= $(mlc) $(256image) $(bk_map)
2mbbk8			:= $(mlc) $(254.8ch)  $(bk_map)
2mbslc 			:= $(slc) $(256image) $(pg_map) 
1gig 			:= $(mlc) $(1gig.8ch) $(pg_map) 


# 	enable verbose configuration

VERBOSE_EXECUTION_FLAGS	=
VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_ERROR
VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_STARTUP_SHUTDOWN
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_CPU_SCHEDULE
VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_NVME_ADMIN
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_NVME_DOOR_BELL
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_NVME_IO
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_NVME_IO_DETAILED
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_PAGE_BUFFER_MGT
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_FTL
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_FTL_DETAILED
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_TRIM
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_GC
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_WEAR_LEVELING
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_NAND_IO
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_NAND_IO_DETAILED
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_HOST_DMA
#VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_HOST_DMA_DETAILED
VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_ISP_BIN_DOWNLOAD
VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_ISP_IO
VERBOSE_EXECUTION_FLAGS	+= -DVERBOSE_ISP_IO_DETAILED






