

# generic SLC latencies 
slc := \
	--nand_type=slc \
	--nand_ltcy_rcmd_issue=5us \
	--nand_ltcy_pcmd_issue=5us \
	--nand_ltcy_ecmd_issue=5us \
	--nand_ltcy_read_page=25us \
	--nand_ltcy_program_page=200us \
	--nand_ltcy_erase_block=2ms \
	

# generic MLC latencies 
mlc := \
	--nand_type=mlc \
	--nand_ltcy_rcmd_issue=5us \
	--nand_ltcy_pcmd_issue=5us \
	--nand_ltcy_ecmd_issue=5us \
	--nand_ltcy_read_msb_page=50us \
	--nand_ltcy_read_lsb_page=50us \
	--nand_ltcy_program_msb_page=600us \
	--nand_ltcy_program_lsb_page=900us \
	--nand_ltcy_erase_block=3ms \
	

# generic TLC latencies 
tlc := \
	--nand_type=tlc \
	--nand_ltcy_rcmd_issue=5us \
	--nand_ltcy_pcmd_issue=5us \
	--nand_ltcy_ecmd_issue=5us \
	--nand_ltcy_read_msb_page=75us \
	--nand_ltcy_read_csb_page=75us \
	--nand_ltcy_read_lsb_page=75us \
	--nand_ltcy_program_msb_page=900us \
	--nand_ltcy_program_csb_page=1200us \
	--nand_ltcy_program_lsb_page=1500us \
	--nand_ltcy_erase_block=5ms \
	

# generic QLC latencies 
qlc := \
	--nand_type=qlc \
	--nand_ltcy_rcmd_issue=5us \
	--nand_ltcy_pcmd_issue=5us \
	--nand_ltcy_ecmd_issue=5us \
	--nand_ltcy_read_msb_page=100us \
	--nand_ltcy_read_chsb_page=100us \
	--nand_ltcy_read_clsb_page=100us \
	--nand_ltcy_read_lsb_page=100us \
	--nand_ltcy_program_msb_page=1500us \
	--nand_ltcy_program_chsb_page=1800us \
	--nand_ltcy_program_clsb_page=2100us \
	--nand_ltcy_program_lsb_page=2400us \
	--nand_ltcy_erase_block=6ms \
	



